/*
COLORS









*/







.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #1a1a1a;
   -fx-padding: 0 2px 0 2px;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #1a1a1a;
   -fx-padding: 0 2px 0 2px;
}

.menu .label{
    -fx-text-fill: white;
}




.menu-item .label{
     -fx-text-fill: white;
 }




.menu {
-fx-background-color: #333333;

}

.menu:showing{
-fx-background-color: #5f5f5f;
}

 .menu:hover {
   -fx-background-color: #0096c9;
  }


.menu-item {
  -fx-background-color: #5f5f5f;
 }

 .context-menu {
   -fx-background-color: #5f5f5f;
 }

 .menu-item:hover {
   -fx-background-color: #0096c9;
  }




 .button{
 -fx-background-color: #333333;



 }

 .button:hover{
 -fx-background-color: #0096c9;

 }

#nodeGrid{
 -fx-background-color: #333333;
 -fx-border-color: #5f5f5f;

 }

